<!DOCTYPE HTML>
<html>

<head>
  {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CEEF#3 Informatii generale</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

  <!-- Animate.css -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/animate.css' %}">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/icomoon.css' %}">
  <!-- Bootstrap  -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/bootstrap.css' %}">

  <!-- Magnific Popup -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/magnific-popup.css' %}">

  <!-- Flexslider  -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/flexslider.css' %}">

  <!-- Owl Carousel -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/owl.theme.default.min.css' %}">

  <!-- Flaticons  -->
  <link rel="stylesheet"  href="{% static 'interface/fonts/flaticon/font/flaticon.css' %}">

  <!-- Theme style  -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/style.css' %}">

  <!-- Modernizr JS -->
  <script type="text/javascript" src="{% static 'interface/js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="upper-menu">
                <div class="container">
                    <div class="row search_menu">
                        <div class="col-xs-6">
                            <div class="follow-us">
                                {% include 'interface/first_menu.html' %}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-push-2 text-right">
                            <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                                <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="
    height: 30px;
    background: #1E2022;
    border: 0px;
">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row menu1_1">
                        <div class="col-md-2">
                            <div id="colorlib-logo">
                              <a href="{% url 'home' %}"><img src="{% static 'interface/images/cfbc_logo2.png' %}" alt="My image" style="width: auto;height: 55px;"></a>
                            </div>
                        </div>
                        <div class="col-md-10 text-right menu-1">
                            {% include 'interface/second_menu.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(static/interface/images/img_bg_2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1>Informații generale</h1>
                                        <h2><span><a href="{% url 'home' %}">Acasă</a> | <a href="{% url 'practica' %}">Practica</a> | Informații generale</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <div id="colorlib-about" class="colorlib-light">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-10 col-md-offset-1 text-center animate-box">
                        <div class="about-wrap">
                            <div class="heading-2">
                                <h2>OBIECTIVELE STAGIILOR DE PRACTICĂ</h2>
                            </div>
                            <p> Stagiile de practică sunt parte integrantă obligatorie a procesului educaţional şi se realizează în scopul formării/dezvoltării competențelor profesionale ale elevilor, specifice calificării profesionale.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestias ipsam ratione autem, aspernatur beatae architecto officia, at. Perspiciatis quam quas a tempora laborum, vero similique quidem! Ipsam, consequatur sunt!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-about" class="colorlib-light-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-box">
                        <img class="classes-img-about" src="{% static 'interface/images/fff.png' %}" alt="" style=" border-radius: 10px; width: 100%; -webkit-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75);">
                    </div>
                    <div class="col-md-6 animate-box">
                        <h3>Dintre obiectivele generale ale stagiilor de practică se elucidează:</h3>

                        <ul style="text-align: left;">
                            <li>Familiarizarea elevilor cu bazele programului de formare profesională și obținerea deprinderilor primare în cadrul domeniului selectat.</li>
                            <li>Formarea abilităților și competențelor, privind efectuarea atribuțiilor și sarcinilor de lucru în cadrul întreprinderilor industriale/instituțiilor publice, corespunzătoare calificării, aprofundarea cunoștințelor teoretice prin studiul și cunoașterea metodologiei de aplicare a acestora în activitatea de producţie/prestarea de servicii.</li>
                            <li>Dezvoltarea continuă a abilităților și competențelor profesionale în acord cu specificul atribuțiilor și sarcinilor de lucru corespunzătoare calificării profesionale</li>
                            <li>Documentarea, colectarea materialelor, informației, elaborarea produselor etc. necesare pentru susținerea probelor de absolvire/calificare sau în corespundere cu tema lucrării de diplomă.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-about" class="colorlib-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-box">
                        <h3>Graficul stagiilor de practică</h3>

                        <ul>
                            <li>Anul I :<br>Practica de inițiere în specialitate: 03.06-21.06.2019</li>
                            <li>Anul II :<br>Practica de specialitate I/instructivă: 03.06.-21.06.2019</li>
                            <li>Anul III:<br>Practica de specialitate II/tehnologică: 20.05.-04.06.2019; 19.06-28.06.2019</li>
                            <li>Anul IV :<br>Practica ce anticipează probele de absolvire: 22.04.-21.06.2019</li>
                        </ul>

                        <div class="descarcare-doc">
                            <h4 style="padding-top: 5px; padding-bottom: 5px;padding-left: 10px; padding-right: 10px; border-radius: 20px; background-color: #57C2F0; color: white;">Descarcare document</h4>
                            <a href="http://www.ceef.md/upload/practica/info_generala/Graficul%20stagiilor%20de%20practic%C4%83_IP_CEEF_2019.pdf"><img src="images/download.png" alt="" style="width: 8%; padding-left: 5px;"></a>
                        </div>

                    </div>
                    <div class="col-md-6 animate-box">
                        <img class="classes-img-about" src="{% static 'interface/images/fff.png' %}" alt="" style=" border-radius: 10px; width: 100%; -webkit-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75);">
                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-about" class="colorlib-light-grey">
            <div class="container">
               <div class="text-center">
                    <h2>Lorem ipsum dolor sit amet.</h2>
               </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Denumire</th>
                                <th>Descarcare</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Regulamentul privind organizarea și desfășurarea stagiilor de practică în învățământul profesional tehnic postsecundar și postsecundar nonterțiar</td>
                                <td><a href="#"><img src="{% static 'interface/images/download.png' %}" alt="" style="width: 10%;"></a></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>2</td>
                                <td>Portofoliul stagiului de practică pentru elevii ce desfășoară practica la unitățile economice</td>
                                <td><a href="#"><img src="{% static 'interface/images/download.png' %}" alt="" style="width: 10%;"></a></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>3</td>
                                <td>Perioada stagiului de practică de specialitae/tehnologică pentru elevii anului III</td>
                                <td><a href="#"><img src="{% static 'interface/images/download.png' %}" alt="" style="width: 10%;"></a></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>4</td>
                                <td>Orarul ședințelor de instruire prealabilă a profesorilor privind stagiile de practică</td>
                                <td><a href="#"><img src="{% static 'interface/images/download.png' %}" alt="" style="width: 10%;"></a></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>5</td>
                                <td>Orarul evaluării și susținerii stagiilor de practică</td>
                                <td><a href="#"><img src="{% static 'interface/images/download.png' %}" alt="" style="width: 10%;"></a></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>6</td>
                                <td>Ghid pentru elevi. Organizarea și desfășurarea practicii ce anticipează probele de absolvire</td>
                                <td><a href="#"><img src="{% static 'interface/images/download.png' %}" alt="" style="width: 10%;"></a></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>7</td>
                                <td>Feed-back-ul agenților economici privind desfășurarea practicii ce anticipează probele de absolvire</td>
                                <td><a href="#"><img src="{% static 'interface/images/download.png' %}" alt="" style="width: 10%;"></a></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>8</td>
                                <td>Unități economice-baze de practică pentru elevii IP CEEF în perioada 2014-2018</td>
                                <td><a href="#"><img src="{% static 'interface/images/download.png' %}" alt="" style="width: 10%;"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <footer id="colorlib-footer">
            {% include 'interface/footer.html' %}
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- jQuery -->
  <script type="text/javascript" src="{% static "interface/js/jquery.min.js" %}"></script>
  <!-- jQuery Easing -->
  <script type="text/javascript" src="{% static "interface/js/jquery.easing.1.3.js" %}"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="{% static "interface/js/bootstrap.min.js" %}"></script>
  <!-- Waypoints -->
  <script type="text/javascript" src="{% static "interface/js/jquery.waypoints.min.js" %}"></script>
  <!-- Stellar Parallax -->
  <script type="text/javascript" src="{% static "interface/js/jquery.stellar.min.js" %}"></script>
  <!-- Flexslider -->
  <script type="text/javascript" src="{% static "interface/js/jquery.flexslider-min.js" %}"></script>
  <!-- Owl carousel -->
  <script type="text/javascript" src="{% static "interface/js/owl.carousel.min.js" %}"></script>
  <!-- Magnific Popup -->
  <script type="text/javascript" src="{% static "interface/js/jquery.magnific-popup.min.js" %}"></script>
  <script type="text/javascript" src="{% static "interface/js/magnific-popup-options.js" %}"></script>
  <!-- Counters -->
  <script type="text/javascript" src="{% static "interface/js/jquery.countTo.js" %}"></script>
  <!-- Main -->
  <script type="text/javascript" src="{% static "interface/js/main.js" %}"></script>

</body>

</html>
