<!DOCTYPE HTML>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CEEF#3 Managmentul calitatii</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

  <!-- Animate.css -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/animate.css' %}">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/icomoon.css' %}">
  <!-- Bootstrap  -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/bootstrap.css' %}">

  <!-- Magnific Popup -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/magnific-popup.css' %}">

  <!-- Flexslider  -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/flexslider.css' %}">

  <!-- Owl Carousel -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/owl.theme.default.min.css' %}">

  <!-- Flaticons  -->
  <link rel="stylesheet"  href="{% static 'interface/fonts/flaticon/font/flaticon.css' %}">

  <!-- Theme style  -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/style.css' %}">

  <!-- Modernizr JS -->
  <script type="text/javascript" src="{% static 'interface/js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="upper-menu">
                <div class="container">
                    <div class="row search_menu">
                        <div class="col-xs-6">
                            <div class="follow-us">
                                {% include 'interface/first_menu.html' %}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-push-2 text-right">
                            <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                                <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="
    height: 30px;
    background: #1E2022;
    border: 0px;
">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row menu1_1">
                        <div class="col-md-2">
                            <div id="colorlib-logo">
                                <a href="{% url 'home' %}"><img src="{% static 'interface/images/cfbc_logo2.png' %}" alt="My image" style="width: auto;height: 55px;"></a>
                            </div>
                        </div>
                        <div class="col-md-10 text-right menu-1">
                            {% include 'interface/second_menu.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(static/interface/images/img_bg_2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1>Managmentul calității</h1>
                                        <h2><span><a href="{% url 'home' %}">Acasă</a> | Managmentul calității</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <div id="colorlib-about" class="colorlib-light-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-box">
                        <img class="classes-img-about" src="{% static 'interface/images/fff.png' %}" alt="" style=" border-radius: 10px; width: 100%; -webkit-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75);">
                    </div>
                    <div class="col-md-6 animate-box">
                        <h3>Ordine</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio odio quas, dignissimos suscipit officia, ipsam necessitatibus distinctio perspiciatis accusantium amet animi, aliquid quisquam rerum incidunt. Vitae fugiat saepe voluptatibus! Tempora.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quis repudiandae iusto vel libero obcaecati architecto a ex deleniti dolor laudantium, quasi asperiores tenetur, quo itaque sint suscipit officia ad?</p>
                        <div class="row descarcare_link">
                          <div class="col-md-10">
                              <p>Componența CEIAC pentru anul de studii 2019-2020</p>
                          </div>
                           <div class="col-md-2">
                                <a href="#"><img src="{% static 'interface/images/download.png' %}" alt=""></a>
                           </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-about" class="colorlib-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-box">
                        <h3>Ghiduri</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio odio quas, dignissimos suscipit officia, ipsam necessitatibus distinctio perspiciatis accusantium amet animi, aliquid quisquam rerum incidunt. Vitae fugiat saepe voluptatibus! Tempora.</p>

                       <div class="row descarcare_link">
                          <div class="col-md-10">
                              <p>Componența CEIAC pentru anul de studii 2019-2020</p>
                          </div>
                           <div class="col-md-2">
                                <a href="#"><img src="{% static 'interface/images/download.png' %}" alt=""></a>
                           </div>

                        </div>
                    </div>
                    <div class="col-md-6 animate-box">
                        <img class="classes-img-about" src="{% static 'interface/images/fff.png' %}" alt="" style=" border-radius: 10px; width: 100%; -webkit-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75);">
                    </div>
                </div>
            </div>
        </div>

         <div id="colorlib-about" class="colorlib-light-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-box">
                        <h3>Rapoarte:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam consectetur laboriosam accusamus et aut ab, neque, aliquid natus deserunt ea?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur inventore aperiam mollitia et voluptatum quaerat veritatis, deleniti ullam expedita asperiores, nemo exercitationem. Dolorem esse nisi aut, totam, quaerat corporis fugiat.</p>
                         <div class="row descarcare_link">
                          <div class="col-md-10">
                              <p>Componența CEIAC pentru anul de studii 2019-2020</p>
                          </div>
                           <div class="col-md-2">
                                <a href="#"><img src="{% static 'interface/images/fff.png' %}" alt=""></a>
                           </div>

                        </div>
                    </div>
                    <div class="col-md-6 animate-box">
                        <h3>Strategii:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dignissimos sapiente, eos neque, ipsum blanditiis eveniet fugiat tenetur deleniti? Ipsam!.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius deserunt aliquam quaerat eum voluptatem vitae, dicta voluptatum blanditiis quae? Saepe?</p>
                         <div class="row descarcare_link">
                          <div class="col-md-10">
                              <p>Componența CEIAC pentru anul de studii 2019-2020</p>
                          </div>
                           <div class="col-md-2">
                                <a href="#"><img src="{% static 'interface/images/download.png' %}" alt=""></a>
                           </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-about" class="colorlib-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-box">
                        <img class="classes-img-about" src="{% static 'interface/images/fff.png' %}" alt="" style=" border-radius: 10px; width: 100%; -webkit-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); -moz-box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75); box-shadow: 0px 5px 24px -8px rgba(0, 0, 0, 0.75);">
                    </div>
                    <div class="col-md-6 animate-box">
                        <h3>Proceduri interne</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio odio quas, dignissimos suscipit officia, ipsam necessitatibus distinctio perspiciatis accusantium amet animi, aliquid quisquam rerum incidunt. Vitae fugiat saepe voluptatibus! Tempora.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quis repudiandae iusto vel libero obcaecati architecto a ex deleniti dolor laudantium, quasi asperiores tenetur, quo itaque sint suscipit officia ad?</p>
                        <div class="row descarcare_link">
                          <div class="col-md-10">
                              <p>Componența CEIAC pentru anul de studii 2019-2020</p>
                          </div>
                           <div class="col-md-2">
                                <a href="#"><img src="{% static 'interface/images/download.png' %}" alt=""></a>
                           </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="colorlib-about" class="colorlib-light-grey">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-10 col-md-offset-1 text-center animate-box">
                        <div class="about-wrap">
                            <div class="heading-2">
                                <h2>Altele</h2>
                            </div>
                            <p>Regulamentul de organizare a studiilor în învăţământul profesional tehnic postsecundar şi postsecundar nonterţiar în baza Sistemului de Credite de Studii Transferabile, aprobat prin ordinul ME la 25.03.2016, cap XI, reglementează activitățile de mobilitate academică a elevilor.</p>
                            <p>Pentru anul de studii 2019-2020 pe parcursul lunii noiembrie au fost încheiate 6 acorduri de mobilitate academică a elevilor cu instituții de ÎPT din Republica Moldova privind organizarea și desfășurarea stagiilor de practică. Printre acestea menționăm: IP Colegiul Național de Comerț al ASEM, IP Centrul de Excelență în Informatică și Tehnologii Informaționale, IP Centrul de Excelență în Horticultură și Tehnologii Agricole etc.</p>

                            <div style="padding-top: 30px;">
                                <div class="row descarcare_link">
                          <div class="col-md-10">
                              <p>Componența CEIAC pentru anul de studii 2019-2020</p>
                          </div>
                           <div class="col-md-2">
                                <a href="#"><img src="{% static 'interface/images/download.png' %}" alt=""></a>
                           </div>

                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="colorlib-footer">
           {% include 'interface/footer.html' %}
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- jQuery -->
  <script type="text/javascript" src="{% static "interface/js/jquery.min.js" %}"></script>
  <!-- jQuery Easing -->
  <script type="text/javascript" src="{% static "interface/js/jquery.easing.1.3.js" %}"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="{% static "interface/js/bootstrap.min.js" %}"></script>
  <!-- Waypoints -->
  <script type="text/javascript" src="{% static "interface/js/jquery.waypoints.min.js" %}"></script>
  <!-- Stellar Parallax -->
  <script type="text/javascript" src="{% static "interface/js/jquery.stellar.min.js" %}"></script>
  <!-- Flexslider -->
  <script type="text/javascript" src="{% static "interface/js/jquery.flexslider-min.js" %}"></script>
  <!-- Owl carousel -->
  <script type="text/javascript" src="{% static "interface/js/owl.carousel.min.js" %}"></script>
  <!-- Magnific Popup -->
  <script type="text/javascript" src="{% static "interface/js/jquery.magnific-popup.min.js" %}"></script>
  <script type="text/javascript" src="{% static "interface/js/magnific-popup-options.js" %}"></script>
  <!-- Counters -->
  <script type="text/javascript" src="{% static "interface/js/jquery.countTo.js" %}"></script>
  <!-- Main -->
  <script type="text/javascript" src="{% static "interface/js/main.js" %}"></script>

</body>

</html>
