<!DOCTYPE HTML>
<html>

<head>
  {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CEEF#3 Rezultatele admiterii</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

  <!-- Animate.css -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/animate.css' %}">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/icomoon.css' %}">
  <!-- Bootstrap  -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/bootstrap.css' %}">

  <!-- Magnific Popup -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/magnific-popup.css' %}">

  <!-- Flexslider  -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/flexslider.css' %}">

  <!-- Owl Carousel -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/owl.theme.default.min.css' %}">

  <!-- Flaticons  -->
  <link rel="stylesheet"  href="{% static 'interface/fonts/flaticon/font/flaticon.css' %}">

  <!-- Theme style  -->
  <link rel="stylesheet" type="text/css" href="{% static 'interface/css/style.css' %}">

  <!-- Modernizr JS -->
  <script type="text/javascript" src="{% static "interface/js/modernizr-2.6.2.min.js" %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="upper-menu">
                <div class="container">
                    <div class="row search_menu">
                        <div class="col-xs-6">
                            <div class="follow-us">
                                {% include 'interface/first_menu.html' %}
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-push-2 text-right">
                            <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                                <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="
    height: 30px;
    background: #1E2022;
    border: 0px;
">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row menu1_1">
                        <div class="col-md-2">
                            <div id="colorlib-logo">
                              <a href="{% url 'home' %}"><img src="{% static 'interface/images/cfbc_logo2.png' %}" alt="My image" style="width: auto;height: 55px;"></a>
                            </div>
                        </div>
                        <div class="col-md-10 text-right menu-1">
                            {% include 'interface/second_menu.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(static/interface/images/img_bg_2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h1>Rezultatele admiterii</h1>
                                        <h2><span><a href="{% url 'home' %}">Acasă</a> | <a href="{% url 'admitere' %}">Admitere</a> | Rezultatele admiterii</span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>



        <div id="colorlib-about" class="colorlib-light-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-box">
                        <h3>Studii bugetare</h3>
                        <p> La studii cu finanțare bugetară se va încheia contracte în zilele de 29 şi 30 august, având cu sine copia buletinului de identitate al părintelui şi recipisa eliberată de comisia de admitere. Dacă nu se va încheia contractul de studii până pe data de 10 septembrie 2019, elevii vor fi transferaţi la studii cu plată.</p>
                    </div>
                    <div class="col-md-6 animate-box">
                            <h3>Studii cu achitarea taxei</h3>
                            <p> La studii cu achitarea taxei, contractele se vor încheia în perioada 07 – 09 august 2019 având copia buletinului de identitate a unui părinte, recipisa eliberata de comisia de admitere, suma de 2800 lei, pentru primele 4 luni a anului de studii.</p>
                            <p>În caz că nu se va încheia contract până pe 10 august 2019, în locul Dumneavoastră va fi înmatriculat următorul candidat din lista de concurs.</p>
                    </div>
                </div>
                <div class="row text-center" style="margin-top: 20px;">
                    <h3>Rezulatele admiterii în IP CEEF: <a href="#">Descarcati</a></h3>
                </div>
            </div>
        </div>





        <div id="colorlib-about" class="colorlib-light">
            <div class="container">
                <div class="row row-pb-md" style="padding-bottom:  0px !important;">
                    <div class="col-md-10 col-md-offset-1 animate-box">
                        <div class="about-wrap">
                            <div class="text-center ">
                                <h2>Intrebari frecvente</h2>
                            </div>
                            <div class="fancy-collapse-panel">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Cazare chestii
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <p>Durata studiilor pentru elevii înmatriculaţi în baza studiilor gimnaziale (9clase) este de 4 ani, iar pentru elevii înmatricluați în baza studiilor liceale este de 2 ani.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Vom studia și discipline liceale?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae explicabo qui beatae, molestiae fugit a quia ab cum ullam odit!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Ce studiem în anul IV?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloremque, laborum consequatur nemo, non eum! Eveniet optio provident ad iure animi facilis eligendi reprehenderit deleniti, quo eaque blanditiis laudantium id amet quod, similique sapiente. Blanditiis ipsam dolores asperiores voluptatem molestias eveniet, impedit ducimus, molestiae repellat, quia voluptatum pariatur omnis mollitia!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="colorlib-footer">
            {% include 'interface/footer.html' %}
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- jQuery -->
  <script type="text/javascript" src="{% static "interface/js/jquery.min.js" %}"></script>
  <!-- jQuery Easing -->
  <script type="text/javascript" src="{% static "interface/js/jquery.easing.1.3.js" %}"></script>
  <!-- Bootstrap -->
  <script type="text/javascript" src="{% static "interface/js/bootstrap.min.js" %}"></script>
  <!-- Waypoints -->
  <script type="text/javascript" src="{% static "interface/js/jquery.waypoints.min.js" %}"></script>
  <!-- Stellar Parallax -->
  <script type="text/javascript" src="{% static "interface/js/jquery.stellar.min.js" %}"></script>
  <!-- Flexslider -->
  <script type="text/javascript" src="{% static "interface/js/jquery.flexslider-min.js" %}"></script>
  <!-- Owl carousel -->
  <script type="text/javascript" src="{% static "interface/js/owl.carousel.min.js" %}"></script>
  <!-- Magnific Popup -->
  <script type="text/javascript" src="{% static "interface/js/jquery.magnific-popup.min.js" %}"></script>
  <script type="text/javascript" src="{% static "interface/js/magnific-popup-options.js" %}"></script>
  <!-- Counters -->
  <script type="text/javascript" src="{% static "interface/js/jquery.countTo.js" %}"></script>
  <!-- Main -->
  <script type="text/javascript" src="{% static "interface/js/main.js" %}"></script>


</body>

</html>
